html, body {
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url(http://i.imgur.com/w16HASj.png);
    background-size: 100% 100%;
    background-position: top center
}

.myCenter
{
    height: 100%;
}

.bloque
{
    height: 150px;
    background-color: #edb879;
    margin: 10px;
    font-size: 16vh;
    color: white;
    cursor: pointer;
}

.textoJuego
{
	text-align: center;
    font-size: 20px;
    display: block;
    color: #FFF;
}
